<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h3 class="d-block mx-auto my-4 text-center">Product Selected Updated</h3>
    <div class="d-block mx-auto mb-3 text-center w-75">
    <%- include('../partials/productUpdateOk'); %>
    </div>
    <%- include('../partials/footer'); %>
    <!--    scripts     -->
    <!-- <script type="text/javascript" src="/index.js"></script> -->
</body>

</html>