<div class="row row-cols-1">
    <div class="col-12 w-100 mx-auto">
        <div class="row row-cols-2 g-5" id="mostrarProductos">
            <!-- <div class="col" id="mostrarProductos">
                
            </div> -->
        </div>
    </div>
</div>